<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Blog Flex</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">Blog<em> Flex</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'blog' %}" class="active">Blog</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'team' %}">Authors</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li>
                            <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if 'userdata' in request.session %}
                                <a class="dropdown-item" href="">Welcome, {{ user.firstname }} {{ user.lastname }}</a>
                                <a class="dropdown-item" href="{% url 'createblog' %}">Create Blog</a>
                                <a class="dropdown-item" href="authorblogs/{{ user.id }}">My Blogs</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'userlogin' %}" >Login</a>
                                <a class="dropdown-item" href="{% url 'signup' %}" >Register</a>
                                {% endif %}
                            </div>
                            </li>
                        </ul>         
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'images/banner-image-1-1920x500.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Read our <em>Blog</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <section class='tabs-content'>
                        {% for blog in blogdata %}
                      <article class="mt-5">
                        <img src="{{ blog.image }}" alt="">
                        <h4>{{blog.title}}</h4>
                        <p><i class="fa fa-user"></i> {{ blog.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i> {{blog.datetime}} |&nbsp; <i class="fa fa-comments"></i> </p>
                        <p> {{blog.smalldesc}}</p>
                        <div class="main-button">
                            <a href="blog-details/{{ blog.id }}">Continue Reading</a>
                        </div>
                      </article>
                        {% endfor %}
                      <br>
                      <br>

<!--                      <article>-->
<!--                        <img src="{% static 'images/blog-image-2-940x460.jpg' %}" alt="">-->
<!--                        <h4>Aspernatur excepturi magni, placeat rerum nobis magnam libero! Soluta.</h4>-->
<!--                        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>-->
<!--                        <p>Integer dapibus, est vel dapibus mattis, sem mauris luctus leo, ac pulvinar quam tortor a velit. Praesent ultrices erat ante, in ultricies augue ultricies faucibus. Nam tellus nibh, ullamcorper at mattis non, rhoncus sed massa. Cras quis pulvinar eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--                        <div class="main-button">-->
<!--                            <a href="blog-details.html">Continue Reading</a>-->
<!--                        </div>-->
<!--                      </article>-->

<!--                      <br>-->
<!--                      <br>-->

<!--                      <article>-->
<!--                        <img src="{% static 'images/blog-image-3-940x460.jpg' %}" alt="">-->
<!--                        <h4>Sunt hic recusandae vitae explicabo quidem laudantium corrupti non adipisci nihil.</h4>-->
<!--                        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>-->
<!--                        <p>Fusce laoreet malesuada rhoncus. Donec ultricies diam tortor, id auctor neque posuere sit amet. Aliquam pharetra, augue vel cursus porta, nisi tortor vulputate sapien, id scelerisque felis magna id felis. Proin neque metus, pellentesque pharetra semper vel, accumsan a neque.</p>-->
<!--                        <div class="main-button">-->
<!--                            <a href="blog-details.html">Continue Reading</a>-->
<!--                        </div>-->
<!--                      </article>-->
                    </section>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center mt-5">
                          {% if blogdata.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ blogdata.previous_page_number }}" tabindex="-1">Previous</a>
                        </li>
                          {% endif %}

                            {% if blogdata.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ blogdata.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}

                          {% for pg in blogdata.paginator.page_range %}
                              {% if blogdata.number == pg %}
                                <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                              {% elif pg > blogdata.number|add:'-5' and pg < blogdata.number|add:'5' %}
                              <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                              {% endif %}
                          {% endfor  %}

                          {% if blogdata.paginator.num_pages > blogdata.number|add:'4' %}
                                <li class="page-item"><a class="page-link" href="?page={{ blogdata.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}

                          {% if blogdata.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ blogdata.next_page_number }}">Next</a>
                        </li>
                          {% endif %}
                      </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <h5 class="h5">Search</h5>
                    
                    <div class="contact-form">
                        <form class="d-flex align-items-center justify-content-between" id="search_form" name="gs" method="GET" action="{% url 'blog' %}">
                          <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                            <button type="submit" style="margin-bottom:20px"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>

                    <h5 class="h5">Recent posts</h5>

                    <ul>
                        <li>
                            <p><a href="blog-details.html">Dolorum corporis ullam, reiciendis inventore est repudiandae</a></p>
                            <small><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                        </li>

                        <li><br></li>

                        <li>
                            <p><a href="blog-details.html">Culpa ab quasi in rerum dolorum impedit expedita</a></p>
                            <small><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                        </li>

                        <li><br></li>

                        <li>
                          <p><a href="blog-details.html">Explicabo soluta corrupti dolor doloribus optio dolorum</a></p>

                          <small><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>